{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
<div id="header">
    {% block header %}
    {% endblock %}
</div>

<div id="content">
    <h1>{{ application.applicant_name }}</h1>
    <br />
    {% for name, value in application.get_fields %}
        {% if value %}
            <strong>{{ name }}</strong> : {{ value }}
            <br />
        {% endif %}
    {% endfor %}

    <h1>Reference Letters</h1>
    <br />
    {% for letter in letters_of_reference %}
        {% for name, value in letter.get_fields %}
            {% if value %}
                <strong>{{ name }}</strong> : {{ value }}
                <br />
            {% endif %}
        {% endfor %}
        <br />
        <br />
    {% endfor %}
</div>

<div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
</div>
</body>

</html>