<!-- Overview for each Faculty Member, customized based on what interns and mentors have relationships with the faculty User -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>Faculty Overview Page</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ input_form }}
        <input type="submit" value="Submit" />
    </form>
    <h2>Applicants</h2>
    {% for application in application_list %}
        <a href="{% url 'application-PDFs' %}?uuid={{ application.uuid }}">{{ application.applicant_name }}</a>
    {% endfor %}
{% endblock %}