<!-- Overview for each Faculty Member, customized based on what interns and mentors have relationships with the faculty User -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>Faculty Overview Page</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ input_form }}
        <input type="submit" value="Submit" />
    </form>
    <h2>Applicants</h2>
    {% for application in application_list %}
        <a href="{% url 'application-PDFs' %}?uuid={{ application.uuid }}">{{ application.applicant_name }}</a> <strong>Ranking: {{ application.ranking }}</strong>
        {% for feedback in facultyfeedback_list %}
            {% if application in feedback.applicant and faculty in feedback.faculty %}
                {% if feedback.show_rating %}
                    <strong> Applicant Preference </strong> : {{ feedback.applicant_rating }}
                {% endif %}
                <strong> Feedback </strong> : {{ feedback.feedback.as_form }}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}