<!-- Overview for each Mentor Member, customized based on what faculty and interns have relationships with the User -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>Mentor Overview Page</h1>
    <form action="/iro/mentor/overview/" method="post">
        {% csrf_token %}
        {{ input_form }}
        <input type="submit" value="Submit" />
    </form>
    <h2>Potential Mentees</h2>
    {% for application in application_list %}
        <a href="{% url 'application-PDFs' %}?uuid={{ application.uuid }}">{{ application.name }}</a>
    {% endfor %}
{% endblock %}