{% extends "base.html" %}
{% load i18n %}

{% block content %}
IRO Utility - Created by Jacob Bieker
    <p>Here is the Manual and initial starting instructions for the Interface for Research Opportunity program, designed for
    REU program adminstration. </p>

    <h2>Set Up</h2>
    <p>First steps first, to start setting up the program, you need to create admin users. To do that, follow these steps:</p>
    <ol>
        <li>Open up a terminal, command prompt, or similar program.</li>
        <li>Type 'python'</li>
        <li>Type 'manage.py createsuperuser' </li>
        <li>Follow the prompts onscreen</li>
        <li>Log into the admin interface at base-url/admin/login (e.g. spur.uoregon.edu/admin/login)</li>
    </ol>
{% endblock %}
